@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

:root {
  --primary-soft-blue: hsl(215, 51%, 70%);
  --primary-cyan: hsl(178, 100%, 50%);
  --main-bg-color: hsl(217, 54%, 11%);
  --card-bg-color: hsl(216, 50%, 16%);
  --line-color: hsl(215, 32%, 27%);
  --white-color: hsl(0, 0%, 100%);
  --pargraph-font-size: 18px;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --card-border-radius: 15px;
  --image-border-radius: 10px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  min-height: 100vh;
  place-items: center;
  background-color: var(--main-bg-color);
  font-family: Outfit, sans-serif;
}

p {
  font-size: var(--pargraph-font-size);
}

.card {
  background-color: var(--card-bg-color);
  border-radius: var(--card-border-radius);
  padding: 1.5rem;
  width: 350px;
}

.img-container {
  position: relative;
  height: 300px;
  width: auto;
  margin-bottom: 1rem;
}

#coverImage {
  width: 100%;
  border-radius: var(--image-border-radius);
}

.cover-image-overlay {
  background: rgba(0, 255, 247, 0.35);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border-radius: var(--image-border-radius);
  display: grid;
  justify-content: center;
  align-content: center;
  opacity: 0;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  color: var(--white-color);
}

.description {
  color: var(--primary-soft-blue);
  margin-bottom: 1.5rem;
}

.price-time-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.price-container {
  font-size: 1rem;
  color: var(--primary-cyan);
  display: flex;
}

.eth-icon {
  margin-right: 1ch;
}

.time-container {
  color: var(--primary-soft-blue);
  display: flex;
}

.clock-icon {
  height: var(--pargraph-font-size);
  margin-right: 1ch;
  margin-top: auto;
  margin-bottom: auto;
}

hr {
  margin-bottom: 1.5rem;
  border: none;
  border-top: solid 1px rgba(139, 172, 218, 0.3);
}

.author-container {
  display: flex;
  align-items: center;
}

.avatar {
  border: 1px solid var(--white-color);
  border-radius: 50%;
  width: 3rem;
  margin-right: 2ch;
}

.author-text {
  color: var(--primary-soft-blue);
}

.author {
  color: var(--white-color);
}

.title:hover,
.author:hover {
  cursor: pointer;
  color: var(--primary-cyan);
}

.img-container:hover {
  cursor: pointer;
  color: white;
}

.img-container:hover .cover-image-overlay {
  opacity: 1;
  transition: 0.5s ease-in-out;
}
